/*Color Var's*/
$DonutSprinkleDrk: #6c3290;
$DonutSprinkleLT: #a784bc;
$BlueBerryDrk: #1bc7ef;
$BlueBerryLT: #76ddf5;

//TODO: added submit button style
//TODO: Add inline for first & last name
#contact-header{
  text-align: center;
  h1 {
    font-size: 70px;
    font-weight: bold;
    color: $BlueBerryLT;
  }
  p {
    font-weight: bold;
  }
}

#contact-form
{
    display: inline-block;
    margin-top: 20px;
    * {
      width: 100%;
    }
    .wpcf7 {
      input, select, textarea, option {
        border: 1px solid $BlueBerryLT;
        margin-top: 10px;
        padding: 10px 5px;
        &:focus {
          border: 1px solid $BlueBerryDrk;
        }
      }
      #about-form-firstname, #about-form-lastname {
        display: inline-block;
        width: 49%;
      }
      #about-form-firstname{margin-right: 2%;}
    }
    .wpcf7-response-output{
      border-radius: 3px;
    }
    input[type="submit"]{
      background-color: $BlueBerryDrk;
      color: #ffffff;
      border-radius: 0;
      font-weight: bold;
      text-transform: uppercase;
      &:hover{
        color: $BlueBerryDrk;
        background-color: #ffffff;
        border-color: $BlueBerryDrk;
      }
    }
}
#contact-logo {
  margin: 20px 0;
}
