.htaccess
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php-
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-content/uploads
wp-content/languages
helpers/get_longest_common_subsequence.php
wp-config.php
wp-config_url.php
#ignore lib files (bootstrap, js libraries etc.)
wp-content/themes/itworks/lib
wp-content/themes/itworks/css/stylesheet.min.css
wp-content/index.php
wp-content/plugins
wp-content/themes/index.php
/index.php
