.htaccess
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php-
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
helpers/get_longest_common_subsequence.php
wp-config.php
wp-config_url.php
#ignore lib files (bootstrap, js libraries etc.)
wp-content/themes/itworks/lib
wp-content/index.php
wp-content/plugins/akismet/_inc/akismet.css
wp-content/plugins/akismet/_inc/akismet.js
wp-content/plugins/akismet/_inc/form.js
wp-content/plugins/akismet/_inc/img/logo-full-2x.png
wp-content/plugins/akismet/akismet.php
wp-content/plugins/akismet/class.akismet-admin.php
wp-content/plugins/akismet/class.akismet-cli.php
wp-content/plugins/akismet/class.akismet-widget.php
wp-content/plugins/akismet/class.akismet.php
wp-content/plugins/akismet/index.php
wp-content/plugins/akismet/readme.txt
wp-content/plugins/akismet/views/config.php
wp-content/plugins/akismet/views/get.php
wp-content/plugins/akismet/views/notice.php
wp-content/plugins/akismet/views/start.php
wp-content/plugins/akismet/views/stats.php
wp-content/plugins/akismet/wrapper.php
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/themes/index.php
index.php
