/*Color Var's*/
$purpleColor: #6c3290;
$blueColor: #169fc3;


#section3{
position: relative;
width: 100vw;
  .about_section3_top{
    max-width: 100vw;
    max-height: 70vh;
  .about_section3_text{
    width: 50vw;
    height: 70vh;
    display: inline-block;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #E6E7E9;
    font-size: 19px;
    font-style: italic;
    color: $purpleColor;
  }
  .about_section3_img{
    width: 50vw;
    min-height: 70vh;
    max-height: 70vh;
    float: right;
    height: auto;
  }
  #about_section3_logo{
    width: 30vh;
    vertical-align: baseline;
    position: absolute;
    bottom: 30vh;
    margin-left: -5%;
    height: auto;
  }
  .about_section3_link{
    text-align: center;
    color: black;
  }
}
  .about_section3_bottom{
    height: 30vh;
    width: 100vw;
    text-align: center;
    .about_section3_contact{
      width: 20vw;
      margin-top: 40px;
      display: inline;
      height: auto;
      margin-bottom: 40px;
    }
    .about_section3_sentence{
      font-size: 72px;
      font-style: italic;
      font-weight: bold;
    }
  }
}
