#contact-header{
  text-align: center;
  h1 {
    font-size: 70px;
    font-weight: bold;
    color: $blueBerrySlushDrk;
  }
  p {
    font-weight: bold;
  }
}

#contact-form
{
    display: inline-block;
    margin-top: 20px;
    * {
      width: 100%;
    }
    .wpcf7 {
      input, select, textarea, option {
        border: 1px solid $blueBerrySlushLT;
        margin-top: 10px;
        padding: 10px 5px;
        &:focus {
          border: 1px solid $blueBerrySlushDrk;
        }
      }
      #about-form-firstname, #about-form-lastname {
        display: inline-block;
        width: 49%;
      }
      #about-form-firstname{margin-right: 2%;}
    }
    .wpcf7-response-output{
      border-radius: 3px;
    }
    input[type="submit"]{
      background-color: $blueBerrySlushDrk;
      color: #ffffff;
      border-radius: 0;
      font-weight: bold;
      text-transform: uppercase;
      &:hover{
        color: $blueBerrySlushDrk;
        background-color: #ffffff;
        border-color: $blueBerrySlushDrk;
      }
    }
}
#contact-logo {
  margin: 20px 0;
}
