#getinv_section1 {
  .getinv_section1_img {
    position: relative;
    width: 100%;
  }

  .getinv_section1_headline {
    color: white;
    text-align: center;
    font-weight: bold;
    top: 40%;
    left: 30%;
    position: absolute;
    font-size: 70px;
  }

  .getinv_section1_sub {
    color: white;
    text-align: center;
    top: 70%;
    left: 25%;
    position: absolute;
    font-size: 30px;
  }

  .getinv_section1_arrow {
    position: absolute;
    top: 100%;
    left: 47%;
    width: 60px;
  }
}

#getinv_section2 {
  .getinv_section2_head {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    padding-top: 55px;
  }

  .getinv_section2_sub {
    font-size: 27px;
    text-align: center;
    font-style: italic;
    max-width: 80%;
    margin-left: 10%;
    padding: 70px 0;
  }

  .getinv_section2_row {
    margin-bottom: 7%;

    .getinv_section2_half {
      .getinv_section2_icon {
        height: auto;
      }

      .getinv_section2_headline {
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 22px;
        padding-left: 52%;
      }

      .getinv_section2_text {
        font-size: 16px;
        font-weight: bold;
      }

      .getinv_section2_connect {
        font-style: italic;
        color: #99d6ff;
        display: block;
        padding-top: 5px;
      }
    }
  }
}
