$blueFoodColoringDrk: #169fc3;
$blueFoodColoringLT: #73c5db;

$donutSprinkleDrk: #6c3290;
$donutSprinkleLT: #a784bc;

$blueBerrySlushDrk: #1bc7ef;
$blueBerrySlushLT: #76ddf5;

$purpleBazzokaDrk: #ad5ee5;
$purpleBazzokaLT: #ce9eef;

$footerBg: #231f20;
