/*Color Var's*/
$DonutSprinkleDrk: #6c3290;
$DonutSprinkleLT: #a784bc;
$BlueBerryDrk: #1bc7ef;
$BlueBerryLT: #76ddf5;
body{
  overflow-x: hidden;
}
.container-fluid{
  padding: 0;
}
header {

  #header-logo {
    max-height: 60px;
    min-height: 10vh;
    display: inline-block;
    order: 0;
    flex: 0 1 auto;
    align-self: flex-start;
    padding-left: 25px;
    margin-top: 1vh;
  }

#header-menu{
  display: inline-block;
  float: right;
    ul {
      margin: 0;
      li {
        display: inline-block;
        padding: 1em;
        margin-top: 1vh;
        &:last-child{
          background-color: $BlueBerryDrk !important;
          font-weight: bolder !important;
          text-transform: uppercase !important;
          border-radius: 100px !important;
          a{color: #ffffff;}
          &:hover{
            background-color: $BlueBerryLT !important;
            border: none !important;
            border-radius: 100px !important;
          }
        }

        &:hover {
          border-bottom: 4px solid $BlueBerryDrk;
          border-radius: 3px;
        }

        a {
          color: black;
          vertical-align: baseline;
          font-size: 23px;
          padding: 1em 0;
          margin-top: 1vh;
          &:hover, &:active {
            text-decoration: none;
          }
        }
      }

      li.current-menu-item {
        border-bottom: 4px solid $BlueBerryDrk;
        border-radius: 3px;
        &:hover {border-color: $BlueBerryLT;}
        &:last-child{
          background-color: $BlueBerryDrk !important;
          font-weight: bolder !important;
          text-transform: uppercase !important;
          border-radius: 100px !important;
          border: none;
          color: #ffffff;
          &:hover{
            background-color: $BlueBerryLT !important;
            border: none !important;
            border-radius: 100px !important;
            color: #000000;
          }
      }
    }
  }
}
}
