.headline{
	font-size: 72px;
	font-style: italic;
	font-weight: bold;
	display: block;
	margin-left: 10px;
	text-align: center;
	margin-bottom: 100px;

}
.section2-subheadline-1{
	font-size: 72px;
	font-style: italic;
	font-weight: bold;
	display: block;
	margin-left: 10px;
}
.under-photo-background{
	background-color: #cc00ff;
}
hr{
	font-color: white;
}
p read-more{
	font-style: italic;
}
