.headline{
	font-size: 72px;
	font-style: italic;
	font-weight: bold;
	display: block;
	margin-left: 10px;

}
.section2-subheadline-1{
	font-size: 72px;
	font-style: italic;
	font-weight: bold;
	display: block;
	margin-left: 10px;
}
