@import "./variables";
@import "./header";
@import "./index";
@import "./aboutus";
@import "./services";
@import "./training";
@import "./getinvolved";
@import "./contactus";
@import "./footer";
// Custom CSS
body {
  overflow-x: hidden;
}/* body */

h2{
  display: block;
  margin: 5%;
  text-transform: uppercase;
  font-size: 4vw;
  text-align: center;
  font-weight: bold;
}
h4{
  display: block;
  margin: 5%;
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}

.container-fluid {
  padding: 0;
} /*container-fluid */

.row {margin:0;}

#down-chevron{
  margin-bottom: 4vh;
  text-align: center;
  animation-name: chevrons;
  animation-duration: 3s;
  animation-iteration-count: infinite;


  i{
    display: block;
    color: #ffffff;
    font-size: 5vw;
    line-height: 3vw;
    font-weight: normal;
  } /* i */
}/* #down-chevron */

/* keyframes */
@keyframes chevrons {
    0% {top: 10px}
    50% {top: -10px}
    100% {top: 10px;}
}/* chevrons*/
