body {
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

header #mobile-ham {
  display: none;
  float: right;
  border: 1px solid black;
  border-radius: 2px;
  padding: 2px 17px;
  margin-right: 1%;
  font-size: 8vh;
}

header #header-logo {
  max-height: 60px;
  min-height: 10vh;
  display: inline-block;
  order: 0;
  flex: 0 1 auto;
  align-self: flex-start;
  padding-left: 25px;
  margin-top: 1vh;
}

header #header-menu {
  display: inline-block;
  float: right;
}

header #header-menu ul {
  margin: 0;
}

header #header-menu ul li {
  display: inline-block;
  padding: 1em;
  margin-top: 1vh;
}

header #header-menu ul li:last-child {
  background-color: #1bc7ef;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 100px;
}

header #header-menu ul li:last-child a {
  color: #ffffff;
}

header #header-menu ul li:last-child:hover {
  background-color: #76ddf5;
  border: none;
  border-radius: 100px;
}

header #header-menu ul li:hover {
  border-bottom: 4px solid #1bc7ef;
  border-radius: 3px;
}

header #header-menu ul li a {
  color: black;
  vertical-align: baseline;
  font-size: 23px;
  padding: 1em 0;
  margin-top: 1vh;
  font-size: 1.7vw;
}

header #header-menu ul li a:hover, header #header-menu ul li a:active, header #header-menu ul li a:focus {
  text-decoration: none;
}

header #header-menu ul li.current-menu-item {
  border-bottom: 4px solid #1bc7ef;
  border-radius: 3px;
}

header #header-menu ul li.current-menu-item:hover {
  border-color: #76ddf5;
}

header #header-menu ul li.current-menu-item:last-child {
  background-color: #1bc7ef;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  color: #ffffff;
}

header #header-menu ul li.current-menu-item:last-child:hover {
  background-color: #76ddf5;
  border: none;
  border-radius: 100px;
  color: #000000;
}

@media only screen and (min-width: 801px) {
  header #header-menu {
    display: inline-block;
  }
}

@media only screen and (max-width: 801px) {
  header {
    z-index: 1001;
    /* #header-menu */
  }
  header #mobile-ham {
    display: inline-block;
  }
  header #header-menu {
    display: none;
    position: absolute;
    float: none;
    width: 100%;
    text-align: center;
    z-index: 1000;
    /* ul */
  }
  header #header-menu ul {
    z-index: 999;
    /* li */
  }
  header #header-menu ul li {
    z-index: 998;
    display: block;
    background-color: #6c3290;
    margin-top: 0;
  }
  header #header-menu ul li:last-child {
    background-color: #1bc7ef;
    font-weight: normal;
    text-transform: capitalize;
    border-radius: 0;
  }
  header #header-menu ul li:last-child a {
    color: #ffffff;
  }
  header #header-menu ul li:last-child:hover {
    background-color: #6c3290;
    border: 0;
    border-radius: 0;
  }
  header #header-menu ul li a {
    z-index: 997;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 0;
  }
  header #header-menu ul li.current-menu-item {
    border: none;
    border-radius: 0;
    background-color: #a784bc;
  }
  /* header */
}

/* @media */
#index_section1 {
  height: 100%;
  width: 100%;
  background-image: url("../images/index/index_main_image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* .index_section1_text */
}

#index_section1 .index_section1_text {
  margin-top: 10vh;
  margin-bottom: 5vh;
  color: white;
}

#index_section1 .index_section1_text .index_section1_top_text {
  font-size: 4vw;
  line-height: 150%;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5%;
}

#index_section1 .index_section1_text .index_section1_bottom_text {
  font-size: 2vw;
  font-weight: normal;
  display: block;
}

#index_section1 #index_section1_button {
  margin: 5vh 0;
}

/* #index_section1 */
#index_section2 {
  width: 100%;
  height: 100%;
  /* #index_section3_div */
}

#index_section2 .index_section2_headline {
  display: block;
  margin: 5%;
  text-transform: uppercase;
  font-size: 4vw;
  text-align: center;
  font-weight: bold;
}

#index_section2 #index_section2_tile {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 7%;
  color: black;
  /* .index_section3_image */
}

#index_section2 #index_section2_tile:hover, #index_section2 #index_section2_tile:focus, #index_section2 #index_section2_tile:visited {
  color: black;
  text-decoration: none;
}

#index_section2 #index_section2_tile .index_section2_tile-image {
  height: 120px;
  width: auto;
  display: block;
  margin: auto;
  margin-bottom: 10%;
}

#index_section2 #index_section2_tile .index_section2_service {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

#index_section2 .index_section2_bottom {
  color: #5bc9e4;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  padding: 5%;
}

#index_section3 {
  background-color: #d3d3d3;
  /* div */
}

#index_section3 div {
  /* .ind-sec3-tile-image */
}

#index_section3 div img {
  border-radius: 50%;
  height: 200px;
  display: block;
  margin: auto;
  margin-bottom: 10%;
}

#index_section3 div p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10%;
}

/* #index_section3 */
#index_section4 {
  padding-bottom: 20px;
  /* div */
}

#index_section4 div {
  /* .ind-sec3-tile-image */
}

#index_section4 div img {
  height: 200px;
  display: block;
  margin: auto;
  margin-bottom: 10%;
}

#index_section4 div p {
  font-size: 20px;
  margin-bottom: 10%;
}

#index_section4 div span {
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
}

#index_section4 div p.ind-sec4-text {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 5% 0;
}

#index_section4 div p.ind-sec4-subtext {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #169fc3;
  margin: 0;
}

.ind-btn {
  background-color: #169fc3;
  border-radius: 50px;
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
  color: white;
  padding: 15px;
}

.ind-btn:hover {
  text-decoration: none;
  background-color: #73c5db;
}

.ind-btn:visited, .ind-btn:active, .ind-btn:focus {
  text-decoration: none;
  color: #ffffff;
}

/* @media for 750px */
#getinv_section1 .getinv_section1_img {
  position: relative;
  width: 100%;
}

#getinv_section1 .getinv_section1_headline {
  color: white;
  text-align: center;
  font-weight: bold;
  top: 40%;
  left: 30%;
  position: absolute;
  font-size: 70px;
}

#getinv_section1 .getinv_section1_sub {
  color: white;
  text-align: center;
  top: 70%;
  left: 25%;
  position: absolute;
  font-size: 30px;
}

#getinv_section1 .getinv_section1_arrow {
  position: absolute;
  top: 100%;
  left: 47%;
  width: 60px;
}

#getinv_section2 .getinv_section2_head {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  padding-top: 55px;
}

#getinv_section2 .getinv_section2_sub {
  font-size: 27px;
  text-align: center;
  font-style: italic;
  max-width: 80%;
  margin-left: 10%;
  padding: 70px 0;
}

#getinv_section2 .getinv_section2_row {
  margin-bottom: 7%;
}

#getinv_section2 .getinv_section2_row .getinv_section2_half .getinv_section2_icon {
  height: auto;
}

#getinv_section2 .getinv_section2_row .getinv_section2_half .getinv_section2_headline {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 22px;
  padding-left: 52%;
}

#getinv_section2 .getinv_section2_row .getinv_section2_half .getinv_section2_text {
  font-size: 16px;
  font-weight: bold;
}

#getinv_section2 .getinv_section2_row .getinv_section2_half .getinv_section2_connect {
  font-style: italic;
  color: #99d6ff;
  display: block;
  padding-top: 5px;
}

#contact-header {
  text-align: center;
}

#contact-header h1 {
  font-size: 70px;
  font-weight: bold;
  color: #1bc7ef;
}

#contact-header p {
  font-weight: bold;
}

#contact-form {
  display: inline-block;
  margin-top: 20px;
}

#contact-form * {
  width: 100%;
}

#contact-form .wpcf7 input, #contact-form .wpcf7 select, #contact-form .wpcf7 textarea, #contact-form .wpcf7 option {
  border: 1px solid #76ddf5;
  margin-top: 10px;
  padding: 10px 5px;
}

#contact-form .wpcf7 input:focus, #contact-form .wpcf7 select:focus, #contact-form .wpcf7 textarea:focus, #contact-form .wpcf7 option:focus {
  border: 1px solid #1bc7ef;
}

#contact-form .wpcf7 #about-form-firstname, #contact-form .wpcf7 #about-form-lastname {
  display: inline-block;
  width: 49%;
}

#contact-form .wpcf7 #about-form-firstname {
  margin-right: 2%;
}

#contact-form .wpcf7-response-output {
  border-radius: 3px;
}

#contact-form input[type="submit"] {
  background-color: #1bc7ef;
  color: #ffffff;
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
}

#contact-form input[type="submit"]:hover {
  color: #1bc7ef;
  background-color: #ffffff;
  border-color: #1bc7ef;
}

#contact-logo {
  margin: 20px 0;
}

#about_section1 {
  height: 100%;
  width: 100%;
  background-image: url("../images/about/head.jpg");
  background-size: 100% 135%;
  background-repeat: no-repeat;
  background-position: bottom;
}

#about_section1 .about_section1_text {
  margin-top: 13vh;
  margin-bottom: 20vh;
  color: white;
  text-align: center;
}

#about_section1 .about_section1_text .about_section1_top_text {
  font-size: 4vw;
  line-height: 150%;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5%;
}

#about_section1 .about_section1_text .about_section1_bottom_text {
  font-size: 2vw;
  font-weight: normal;
  display: block;
}

#about_section2 {
  background-color: #F1F1F1;
  padding-top: 20px;
  padding-bottom: 50px;
}

#about_section2 .about_section2_left_text {
  font-size: 20px;
}

#about_section2 .about_section2_top_text {
  color: black;
}

#about_section2 .about_section2_text_number {
  font-size: 35px;
  font-weight: bold;
}

#about_section2 .about_section2_bottom_text {
  font-size: 20px;
}

#about_section2 .about_section2_img {
  width: 100%;
  height: 100%;
}

/* #about_section2 */
#about_section3 .sec3_tile {
  text-align: center;
}

#about_section3 .sec3_tile h5 {
  font-weight: 600;
  font-size: 22px;
  text-transform: capitalize;
}

#about_section3 .sec3_tile p {
  font-size: 18px;
}

#about_section3 .sec3_tile img {
  margin-bottom: 20px;
}

#about_section4 {
  height: 100%;
  width: 100%;
  background-color: #F1F1F1;
  padding-bottom: 30px;
  padding-top: 30px;
}

#about_section4 h4 {
  margin-top: 0;
  font-weight: bold;
  font-size: 1.1em;
}

#about_section4 .about_team_tile {
  margin-bottom: 20px;
  /* .team_name */
  /* .team_title */
}

#about_section4 .about_team_tile img {
  border-radius: 50%;
  float: none;
}

#about_section4 .about_team_tile .team_name {
  color: #1bc7ef;
  text-align: center;
  font-weight: 600;
  font-size: 21px;
  text-transform: capitalize;
  margin: 9px 0;
}

#about_section4 .about_team_tile .team_title {
  color: #ad5ee5;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
}

/* #about_section4 */
#about_section5 .about_section5_logo {
  margin: auto;
  display: inherit;
  height: 90px;
  width: auto;
  margin-bottom: 20px;
}

#about_section5 .about_section5_link {
  cursor: pointer;
  padding: 5%;
  text-align: center;
  color: #1bc7ef;
  display: inherit;
  font-size: 20px;
  font-style: italic;
}

footer {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #231f20;
  font-size: 14px;
}

footer h6 {
  color: #1bc7ef !important;
  font-size: 15px !important;
  font-weight: bold !important;
}

footer #footer-header {
  text-transform: uppercase;
  border-bottom: 1px solid white;
  text-align: center;
  font-weight: bold;
  padding: 25px 0 10px 0;
}

footer #footer-right-section {
  font-family: 'Open Sans', sans-serif;
}

footer #footer-left-section #footer-contact .mailpoet_paragraph {
  display: inline-block;
}

footer #footer-left-section #footer-contact .mailpoet_paragraph input {
  background-color: #231f20;
  border: 1px solid white;
  border-radius: 0;
  padding: 6px 12px;
  color: white;
}

footer #footer-left-section #footer-contact .mailpoet_paragraph .mailpoet_submit {
  background-color: white;
  color: #1bc7ef;
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
}

footer #footer-left-section #footer-contact .mailpoet_paragraph .mailpoet_submit:hover {
  color: #ffffff;
  background-color: #1bc7ef;
  border-color: #1bc7ef;
}

footer #footer-left-section #footer-social {
  text-transform: capitalize;
  font-size: 45px;
}

footer #footer-left-section #footer-social a {
  text-decoration: none;
  color: white;
}

footer #footer-left-section #footer-social a:visited {
  color: white;
  text-decoration: none;
}

footer #footer-left-section #footer-social a:hover {
  cursor: pointer;
  color: #1bc7ef;
}

footer #footer-bottom-section {
  border-bottom: 1px solid white;
  margin-bottom: auto;
}

footer #footer-bottom-section #ft-btn {
  text-transform: uppercase;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  display: inline-block;
  color: #1bc7ef;
  background-color: #ffffff;
  border-radius: 100px;
}

footer #footer-bottom-section #ft-btn:hover {
  color: #ffffff;
  background-color: #1bc7ef;
}

footer #ft-copyright {
  text-align: center;
  font-size: 0.9em;
  margin-top: 10px;
}

footer #ft-copyright p {
  margin: 0;
}

body {
  overflow-x: hidden;
}

/* body */
h2 {
  display: block;
  margin: 5%;
  text-transform: uppercase;
  font-size: 4vw;
  text-align: center;
  font-weight: bold;
}

h4 {
  display: block;
  margin: 5%;
  text-transform: capitalize;
  font-size: 1vw;
  text-align: center;
  font-weight: normal;
}

.container-fluid {
  padding: 0;
}

/*container-fluid */
.row {
  margin: 0;
}

#down-chevron {
  margin-bottom: 4vh;
  text-align: center;
  animation-name: chevrons;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* i */
}

#down-chevron i {
  display: block;
  color: #ffffff;
  font-size: 5vw;
  line-height: 3vw;
  font-weight: normal;
}

/* #down-chevron */
/* keyframes */
@keyframes chevrons {
  0% {
    top: 10px;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}

/* chevrons*/
